body {
  font-family: 'Lato', sans-serif;
}
a {
  text-decoration: none;
  color: #00A29A;
  transition: 300ms color ease;
}
.no-touchevents a:hover {
  color: black;
}
ul {
  padding: 0;
  margin: 0;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*** HEADER ***/

header {
  width: 100%;
  padding: 15px 20px;
  background-color: white;
  box-sizing: border-box;
  font-size: 30px;
}
.header-prev {
  position: absolute;
  left: 20px;
}
.header-next {
  position: absolute;
  right: 20px;
}
.header-backhome {
  position: absolute;
  left: 50%;
  margin-top: -5px;
  margin-left: -20px;
  font-size: 40px;
}
.no-touchevents .header-backhome a:hover .icon-logo-tm .path1:before {
  color: black;
}
.header-title {
  text-align: center;
  font-size: 22px;
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  header {
    position: fixed;
    z-index: 99999;
  }
  .content {
    padding-top: 110px;
  }
}
